.container {
  position: relative; /* For the absolutely positioned ul */

  width: 100%;
  margin: 0.5em 0;

  border: 1px solid black;
  background: whitesmoke;
  border-radius: 9px;
}
.inputbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* for middle element 100% width */
  justify-content: space-between;
  align-items: center;

  height: 2em;
}

.inputbox label {
  /* flex: 0; */
  display: flex;
  flex-direction: row;
  align-items: center;

  width: auto;
  /* background: blue; */
  opacity: 1;

  padding: 0 0.25em;

  transition: all 0.5s ease-in-out;
}
.inputbox label.hide {
  opacity: 0;
  background: goldenrod;
}

.inputbox label img {
  margin: 0 0.15em;
  width: 1em;
  height: 1em;
  float: left;
}

.inputbox input {
  /* for middle element 100% width */
  flex: 1 1 auto;
  width: auto;
  display: block;

  margin: 0;
  padding: 0.2em 0.5em;

  /* font-size: 1em; */

  border: none;
  border-radius: 9px;
  outline: none;

  /* background: rgb(235, 235, 250); */

  transition: all 0.5s ease;
}

.btnclear {
  /* position: absolute; */
  /* top: 15%; */
  /* right: 0.5em; */

  display: block;
  margin: auto 0.25em auto 0.25em;

  padding: 0;
  /* width: 1.5em;
  height: 1.5em; */

  background: rgb(235, 235, 250);

  border-radius: 50%;
  cursor: pointer;
}

.btnclear::after {
  content: "×";
  display: block;
  font-size: smaller;

  padding: 0;
  width: 1.5em;
  line-height: 1.5em;
  text-align: center;

  background: rgb(217, 217, 245);
  border-radius: 50%;
  border: none;
  outline: none;
}

.dropdownbox {
  display: none;
  position: absolute;
  z-index: 999999 !important;
  width: 100%;

  margin: 0;
  padding: 0.25em 0.25em;

  background-color: white;
  border: 1px dotted gray;
  border-radius: 9px;

  max-height: 7em;
  overflow-y: scroll;

  transition: all 0.5s ease;
}

.dropdownbox li {
  list-style: none;
  margin: 0;
  padding: 0.1em 0.25em;
  border-bottom: 1px dotted gray;

  border-radius: 5px;

  cursor: pointer;
  user-select: none;

  transition: all 0.5s ease;
}
.dropdownbox li:hover {
  background: rgb(235, 235, 250);
}

.dropdownbox li img {
  float: left;
  margin: 0 0.5em 0 0.3em;
  padding: 0;
  width: 1em;
  height: 1em;
}
